@include font-face('icomoon', 'fonts/icomoon/icomoon', $ver: '?sheu8');

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts/icomoon */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-title:before {
  content: "\e901";
  color: #fc0;
}
