:root {
   --color: #898f8f;
   --color-y: #ffcc00;
   --color-w: #fff;
   --color-d: #333;
   --color-b: #666;
   --color-i: #ccc;
   --color-h: #ab9e9e;
}
$font: "Roboto", sans-serif;
$font-open: "Open Sans", sans-serif;
$font-raleway: "Raleway", sans-serif;
