.wrapper{
    @include pos($pos: relative);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    &::before{
        @include align(true, true, absolute);
        @include size(1px, 100%);
        content: '';
        background: var(--color-y);
    }
    &__left,
    &__right{
        width: 36%;
        display: flex;
    }
    &__item{
        border: 1px solid var(--color-y);
        padding: 15px;
        position: relative; 
        &::before{
            @include pos(absolute, -2px, 25%, -2px, 25%);
            content: '';
            height: calc(100% + 4px);
            background: #fff;
        }
        &::after{
            @include pos(absolute, 25%, -2px, 25%, -2px,);
            content: '';
            width: calc(100% + 4px);
            background: #fff;
        }
    }
    &__img{
        display: block;
        z-index: 1;
        border: 1px solid var(--color-y);
        position: relative;
    }
    &__title{
        font-weight: 900;
        font-size: 36px;
        letter-spacing: 0.72px;
        margin-bottom: 25px;
        padding-bottom: 30px;
        position: relative;
        color: var(--color-b);
        &::before{
            @include size(100px, 1px);
            @include align(false, true, absolute);
            content: '';
            background: var(--color-y);
            bottom: 0;
        }
    }
    &__subtitle{
    font: 24px/36px $font-raleway;
    color: var(--color-b);
    margin-bottom: 25px;
}
    &__text{
        color: var(--color-d);
        font: 14px/24px $font-raleway;
        font-weight: 600;
        margin-bottom: 20px;
    }
}

